@import 'https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;400;600;700&family=Playfair+Display:wght@200;400;500;700&family=Roboto:wght@100;300;400;500&display=swap';
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

nav {
  margin: 2em 0em 2em 2em;
  background: transparent;
}
nav > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav > div > div img {
  user-select: none;
}
nav > div .line-center {
  flex-grow: 0.9;
  height: 6.5px;
  border-radius: 3px;
  background-color: #21232e;
  position: sticky;
  left: 170px;
}
nav > div .navigation {
  padding: 0 100px;
  background: rgba(107, 96, 96, 0.15);
  border-radius: 3px;
  display: flex;
  gap: 2em;
}
nav > div .navigation a {
  font-family: "Barlow Condensed", sans-serif;
  padding: 25px 0;
  color: #fff;
  font-size: 20px;
  letter-spacing: 2px;
}
nav > div .navigation a span {
  margin: 0 7px;
  font-weight: 1000;
  color: #fff;
  font-size: 18px;
}
nav > div .navigation a.active {
  border-bottom: 3px solid #fff;
}
nav > div .icon-bar {
  position: absolute;
  z-index: 100;
  opacity: 0;
}
@media (max-width: 768px) {
  nav {
    margin: 0 0 0 1rem;
  }
  nav > div > div {
    margin: 0;
  }
  nav > div .line-center {
    display: none;
  }
  nav > div .navigation {
    padding: 0 50px;
    gap: 2.5em;
  }
  nav > div .navigation a {
    padding: 35px 0;
    font-size: 17px;
  }
  nav > div .navigation a span {
    display: none;
  }
}
@media (max-width: 425px) {
  nav {
    margin: 2rem;
  }
  nav > div .navigation {
    transform: translateY(-100%);
    background: #121527;
    position: absolute;
    top: 0rem;
    right: 0rem;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 2rem 0;
    width: 100%;
    transition: 1.5s all ease;
  }
  nav > div .navigation.active {
    transform: translateY(0);
  }
  nav > div .navigation a {
    padding: 0;
  }
  nav > div .navigation a.active {
    border-bottom: none;
  }
  nav > div .icon-bar {
    position: inherit;
    opacity: 1;
  }
}

body {
  height: 100%;
  background-image: url(/assets/home/background-home-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 768px) {
  body {
    background-image: url(/assets/home/background-home-tablet.jpg);
  }
}
@media (max-width: 425px) {
  body {
    background-image: url(/assets/home/background-home-mobile.jpg);
  }
}

main {
  display: flex;
  align-items: flex-end;
  margin: 8rem 0;
}
main > div {
  margin: 0 170px;
  color: #fff;
}
main > div h2 {
  font-size: 1.8rem;
  color: #7f8297;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
}
main > div h1 {
  margin: 0 0 1.5rem;
  color: #fff;
  font-size: 120px;
  letter-spacing: 8px;
  font-family: "Playfair Display", serif;
  font-weight: lighter;
}
main > div p {
  font-size: 1.2rem;
  color: #7f8297;
  line-height: 1.5rem;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 1px;
}
main > div > div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  margin: 0 20px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: #fff;
  color: #000;
  font-family: "Playfair Display", serif;
  font-weight: 300;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
@media (max-width: 768px) {
  main {
    margin: 8rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7rem;
  }
  main > div {
    text-align: center;
  }
}
@media (max-width: 425px) {
  main > div {
    margin: 0 1.5rem;
  }
  main > div h2 {
    font-size: 1.4rem;
  }
  main > div h1 {
    font-size: 5rem;
  }
}

/*# sourceMappingURL=index.css.map */
